<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="mybatis/mappers/question.xml"/>
		<mapper resource="mybatis/mappers/commission.xml"/>
		<mapper resource="mybatis/mappers/manager.xml"/>
		<mapper resource="mybatis/mappers/auction.xml"/>
		<mapper resource="mybatis/mappers/auctionBid.xml"/>
		<mapper resource="mybatis/mappers/admin.xml"/>
		<mapper resource="mybatis/mappers/userInfo.xml"/>
	</mappers>
</configuration>










