:root {
    /* 컬러 모음 */
    --color-black: #111;
    --color-white: #fff;
    --color-gray: #787878;
    --input-gray: #e5e5ec;
    --button-gray: #f7f7f7;
    --border-color-gray: #dadada;
    --color-deepblue: #17517e;
    --color-burgundy: #800020;
    --font-size32: 32px;
    --font-size24: 24px;
    --font-size20: 20px;
    --font-size16: 16px;
    --font-size14: 14px;
    --font-size12: 12px;
}

.headerMid .rightMenu {
    display: flex;
    margin-left: auto;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -30px;
}

.rightMenu .log {
    display: flex;
    margin-bottom: 10px;
}

.headerMid .rightMenu li .icon {
    font-size: var(--font-size20);
    color: var(--color-black);
    cursor: pointer;
}

.headerMid .rightMenu .log {
    font-size: var(--font-size12);
    margin-top: 5px;
    cursor: pointer;
}

/* Default style */
.headerMid .menu {
    display: flex;
    justify-content: space-around;
    cursor: context-menu;
    margin-right: 30px;
}

.userinformationWrap {
    margin-left: -5px;
}

.userinformationWrap a.userInfomation {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--color-black);
}

.con4.headerCon {
    margin-right: 89px;
}

.headerTop {
    height: 32px;
    background-color: var(--color-black);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerTop h5 {
    font-weight: 300;
    font-size: var(--font-size12);
}

.headerMain {
    border-bottom: 1px solid var(--border-color-gray)
}

.headerMid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    height: 80px;
}

.headerMid .logo {
    margin-right: auto;
    width: 120px;
    min-width: 120px;
    height: 60px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    cursor: pointer;
    /* background-color: #dadada; */
}

.headerMid .logo a img {
    width: 120px;
    min-width: 120px;
    height: 60px;
}

/* .headerMid .menu {
display: flex;
justify-content: space-around;
cursor: context-menu;
margin-right: 14px;
position: relative;
} */

.headerMid .menu li {
    display: flex;
    flex-direction: column;
    margin: auto;
    /* align-items: center; */
    font-size: var(--font-size16);
    font-weight: 400;
    text-align: center;
    max-width: 180px;
    min-width: 180px;
    /* align-items: flex-start; */
}

.headerMid .menu li h5 {
    margin: 25px 0;
    font-size: var(--font-size20);
    font-weight: 300;
}

.headerContent {
    position: absolute;
    z-index: 1000;
    padding-left: 50px;
    background-color: #f5f5f5;
    height: 160px;
    display: flex;
    justify-content: center;
    display: none;
    width: 100%;
}

.headerContent .headerCon {
    width: 180px;
    height: 160px;
}

.headerContent .headerCon:hover {
    background-color: var(--color-white);
}

.headerCon .headerTab {
    font-size: var(--font-size16);
    border-left: 1px solid #d9d9d9;
    width: 180px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerCon .headerTab.rt {
    border-right: 1px solid #d9d9d9;
}

.menu li.tab:hover {
    border-bottom: 2.5px solid var(--color-black);
    padding-bottom: 4px;
}

.headerTab.cp,
.headerTab.rt.cp {
    cursor: pointer;
}

.headerTab a p {
    color: var(--color-black);
}


/*응찰 모달 css*/
.modalBid {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalBid-content {
    background-color: white;
    margin: 10% auto;
    width: 630px;
    height: 400px;
    position: relative;
}

.modalBid .bidHead {
    width: 100%;
    height: 12px;
    background-color: var(--color-black);
}

.close-btn {
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.modalBid .bidCon {
    display: flex;
    margin: 20px;
    justify-content: space-between;

}


.modalBid .bidCon .left .auctionImg .uploadResult {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    border: 0.5px solid var(--border-color-gray);
    margin: 16px 0;
}

.modalBid .bidCon .left .auctionImg .uploadResult img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.modalBid .bidCon .left h5 {
    font-weight: 300;
    font-size: var(--font-size16);
}

.modalBid .bidCon .left h2 {
    font-weight: 600;
    font-size: var(--font-size16);
    margin-top: 8px;
}

.modalBid .bidCon .left h3 {
    font-weight: 300;
    font-size: var(--font-size14);
    margin-top: 8px;
}

.modalBid .bidCon .left h4 {
    font-weight: 300;
    font-size: var(--font-size14);
    color: var(--color-gray);
    margin-top: 8px;
}

.modalBid .bidCon .right {
    width: 360px;
    display: flex;
    flex-direction: column;
    margin: 0 28px;
}

.modalBid .bidCon .right .time {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalBid .bidCon .right .time h5 {
    font-size: var(--font-size12);
    font-weight: 300;
    color: var(--color-gray);
}

.modalBid .bidCon .right .time h4 {
    font-size: var(--font-size12);
    font-weight: 300;
}

.modalBid .bidCon .right .box {
    width: 360px;
    height: 200px;
    margin-top: 8px;
    border: 0.5px solid var(--border-color-gray);
}

.modalBid .bidCon .right .boxHead {
    height: 20px;
    background-color: var(--color-black);
    display: flex;
    color: var(--color-white);
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
}

.modalBid .bidCon .right .boxHead h4 {
    font-size: var(--font-size12);
    font-weight: 300;
}

.modalBid .bidCon .right .boxHead .headCount {
    display: flex;
}

.modalBid .bidCon .right .boxCon {
    display: flex;
    flex-direction: column;
    height: 180px;
    overflow: auto;
    overflow-x: hidden;
}

.modalBid .bidCon .right .boxCon .boxList {
    display: flex;
    justify-content: space-around;
    margin: 4px 2px;
}

.modalBid .bidCon .right .boxCon .boxList h3 {
    width: 40px;
    font-size: var(--font-size14);
    font-weight: 300;
}

.modalBid .bidCon .right .boxCon .boxList h4 {
    width: 90px;
    font-size: var(--font-size14);
    font-weight: 300;
    text-align: right;
}

.modalBid .bidCon .right .boxCon .boxList h5 {
    width: 60px;
    font-size: var(--font-size14);
    font-weight: 300;
}

.modalBid .bidCon .right .bidType {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    cursor: pointer;
}

.modalBid .bidCon .right .bidType .type {
    width: 100%;
    height: 24px;
    border: 0.5px solid var(--input-gray);
    font-size: var(--font-size14);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--input-gray);
}

.modalBid .bidCon .right .bidType .type.choice {
    background-color: var(--color-white);
    border: 0.5px solid var(--color-black);
}

.modalBid .bidCon .right h5 {
    font-size: var(--font-size12);
    font-weight: 300;
    margin-top: 4px;
}

.modalBid .bidCon .right .red {
    color: var(--color-burgundy);
}

.modalBid .bidCon .right .gray {
    color: var(--color-gray);
}

.modalBid .bidCon .right .buttonBid {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    align-items: center;
}

.modalBid .bidCon .right .buttonBid select {
    width: 100%;
    height: 24px;
    outline: none;
    /* display: none; */
}

.modalBid .bidCon .right .buttonBid .bidBtn {
    width: 100%;
    height: 24px;
    background-color: var(--color-black);
    color: var(--color-white);
    /* display: none; */
    cursor: pointer;
}

.modalBid .bidCon .right .bidBtn.maximum {
    display: block;
    background-color: var(--color-white);
    color: var(--color-gray);
    border: 0.5px solid var(--border-color-gray);
}