h3
{
	font-size: 18px;
}

.questionContainer {
    display: flex;
    justify-content: center;
    /* 수평 중앙 정렬 */
    width: 100%;
    /* 부모 컨테이너의 전체 너비 사용 */
}

.questionContent {
    display: flex;
    justify-content: center;
    width: 1200px;
    /* 컨텐츠의 고정 너비 설정 */
}

.questionWrap {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

hr.headLine {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1.5px solid;
}

.smallgray {
    font-size: var(--font-size12);
    color: var(--color-gray);
}

.questionBoardWrap {
    width: 1000px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

.questionBoardLine_bold {
    margin-top: 40px;
    border: 1.5px solid var(--color-gray);
}

.questionBoardLine_bold2 {
    border: 1.5px solid var(--color-gray);
}

#inquiryType {
    width: 300px;
    height: 32px;
	outline: none;
}

.select {
    font-size: var(--font-size16);
}

.inquiryTypeWrap {
    display: flex;
    align-items: center;
    margin: 15px 0 15px 20px;
    gap: 150px;
}

.questionTitleWrap,
.questionContentWrap {
    display: flex;
    align-items: center;
    margin: 15px 0 15px 20px;
    gap: 180px;
}

#questionTitle {
	width: 550px;
	height: 20px;
	padding: 4px;
	resize: none;
	outline: none;
	font-size: 16px;
	padding-top: 6px;
	margin-left: 2px;
}

#questionContent {
	width: 550px;
    height: 170px;
    font-size: var(--font-size16);
    outline: none;
    resize: none;
    padding: 4px;
	margin-left: 2px;
}

.questionAttachWrap {
    display: flex;
    align-items: center;
    margin: 15px 0 15px 20px;
    gap: 160px;
}

.attachInfo {
    margin-top: 20px;
}

#submit_btn {
    margin-top: 40px;
    width: 100px;
	height: 36px;
    border-radius: 5px;
    color: var(--color-white);
    background-color: var(--color-black);
    border: 1px solid var(--color-black);
    cursor: pointer;
    margin-left: auto;

/*    &:hover {*/
/*        background: var(--color-white);*/
/*        color: var(--color-black);*/
/*    }*/
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-primary {
    font-size: 14px;
	width: 80px;
    height: 24px;
    background: #fff;
    border: 1px solid #666666;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

/*    &:hover {*/
/*        background: #666666;*/
/*        color: #fff;*/
/*    }*/
}

#input-file {
    display: none;
}

.red
{
    color: red;
}