:root 
{
	/* 컬러 모음 */
	--color-black: #111;
	--color-white: #fff;
	--color-gray: #787878;
	--input-gray: #e5e5ec;
	--button-gray: #f7f7f7;
	--border-color-gray: #dadada;
	--color-deepblue: #17517e;
	--color-burgundy: #800020;
	--font-size32: 32px;
	--font-size24: 24px;
	--font-size20: 20px;
	--font-size16: 16px;
	--font-size14: 14px;
	--font-size12: 12px;
}




.pageFixSize {
	display: flex;
	justify-content: center;
	/* width: 1440px; */
}



.userInfo {
	display: flex;
	justify-content: center;
	/* margin-top: 250px; */
	margin-top: 100px;
	margin-bottom: 150px;
	width: 1440px;
}



/* 마이페이지 사이드바 */
.userNav {
	margin-right: 100px;
	width: 180px;
}
.userNav .navUserName {
	font-size: var(--font-size24);
	margin-bottom: 90px;
}
.userNav ul li {
	margin-bottom: 50px;
	font-size: var(--font-size20);
}
.userNav ul li a {
	color: var(--color-gray);
	cursor: pointer;
}
/* 마이페이지 사이드바 끝 */



/* 회원정보관리 */
.userInfoInfo {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	width: 890px;
	/* min-height: 600px; */
}
.userInfoTitle {
	font-size: var(--font-size24);
	margin-left: 5px;
}



.userInfoInfo hr {
	margin-top: 40px;
	/* margin-bottom: 30px; */
	margin-bottom: 10px;
	size: 0.5px;
	background-color: var(--color-gray);
	/* border: solid 0.5px var(--color-gray); */
}
/* @@@@@마이페이지 공통 끝@@@@@ */


/* 응찰 내역 리스트 시작 */
.userBidList {
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 450px;
}



.bidListHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 20px 15px;
	gap: 10px;
	border-bottom: solid 0.5px var(--border-color-gray);
	width: 800px;
}

/* 진행경매보기 버튼 */
.bidListHeader .currentAuctionBtn {
	width: 100px;
	height: 32px;
	font-size: var(--font-size12);
	background-color: var(--color-white);
	color: var(--color-gray);
	border: 1px solid var(--border-color-gray);
	cursor: pointer;
}


.bidListHeader h5 {
	font-size: var(--font-size16);
	font-weight: 300;
}


.bidList {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 20px;
	gap: 10px;
	border-bottom: solid 0.5px var(--border-color-gray);
	width: 800px;
	color: var(--color-gray);
	font-size: var(--font-size14);
}

/* 위시 리스트 이미지 */
.bidList .bidListImg .uploadResult {
   width: 160px;
   height: 160px;
   border: 0.5px solid var(--border-color-gray);
   display: flex;
   justify-content: center;
}

.bidList .bidListImg .uploadResult img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}


/* 위시 리스트 중간 */
.bidList .bidListExplain {
	/* margin-left: -280px; */
	margin-left: -170px;
	height: 162px;
}
.bidList .bidListExplain .authorName {
	font-size: var(--font-size16);
	color: var(--color-black);
	margin-bottom: 10px;
	margin-top: 40px;
}
.bidList .bidListExplain .workName {
	font-size: var(--font-size14);
	color: var(--color-black);
}


/* 위시 리스트 오른쪽 */
.bidList .bidListEnd {
	display: flex;
	flex-direction: column;
	align-items: end;
	width: 300px;
	gap: 40px;
	border-left: solid 0.5px var(--border-color-gray);
}
.bidList .bidListEnd .bidListPrices {
	/* text-align: right; */
	/* color: var(--color-black); */
	font-size: var(--font-size16);
}
.bidList .bidListEnd .bidListPrices div {
	display: flex;
	justify-content: space-between;
}


/* 응찰가 */
.bidList .bidListEnd .bidListPrices .bidPrice {
	color: var(--color-gray);
	margin-bottom: 10px;
}


/* 응찰일 */
.bidList .bidListEnd .bidListPrices .bidDate {
	display: flex;
	justify-content: space-between;
	color: var(--color-gray);
	margin-bottom: 10px;
}
.bidList .bidListEnd .bidListPrices .bidDate .bidDateTitle {
	margin-right: 50px;
}


/* 현재가 */
.bidList .bidListEnd .bidListPrices .currentPrice {
	color: var(--color-deepblue);
}


/* 현재가 */
.bidList .bidListEnd .bidListPrices .endPrice {
	color: var(--color-burgundy);
}


/* 응찰 상세보기 버튼 */
.bidList .bidDetailBtn{
	/* height: 28px; */
	height: 38px;
	/* width: 64px; */
	width: 232px;
	background-color: var(--color-white);
	border: solid 0.5px var(--color-gray);
	border-radius: 3px;
	cursor: pointer;
}





/* 상세보기 모달 팝업 */

/* 모달 배경 */
.bidDetailModal {
	display: none; /* 기본적으로 숨김 */
	position: fixed; /* 화면 고정 */
	z-index: 1000; /* 다른 요소 위에 위치 */
    left: 50%; /* 수평 중앙 정렬 */
    top: 40%; /* 수직 중앙 정렬 */
	width: 700px; /* 전체 너비 */
	height: auto; /* 전체 높이 */
	overflow: auto; /* 필요시 스크롤 활성화 */
	background-color: var(--color-white);
	border: solid 1px var(--border-color-gray);
	transform: translate(-50%, -50%); /* 위치를 정확히 중앙으로 이동 */
}

/* 모달 내용 */
.modalContent {
	display: flex;
	flex-direction: column;
	/* justify-self: center; */
	margin: 20px;
	padding: 10px;
	width: 90%; /* 화면 크기에 따라 조절 가능한 너비 */
}
.modalContent h2 {
	font-size: var(--font-size20);
	margin-left: 5px;
	margin-bottom: 20px;
	/* margin-top: -15px; */
}
.modalContent hr {
	/* background: var(--color-gray); */
	background: var(--border-color-gray);
	height: 1px;
	border: 0;
}
.modalContent .bidDetailColunm {
	display: flex;
	justify-content: space-between;
}
.modalContent .bidDetailContent {
	display: flex;
	justify-content: space-between;
}


/* 모달 표 통일 */
.modalContent div div {
	text-align: center;
	padding: 15px 0;
}
.modalContent .bidDetailColunm div {
	background-color: var(--button-gray);
	font-size: var(--font-size14);
}
.modalContent .bidDetailContent div {
	font-size: var(--font-size12);
	color: var(--color-gray);
	/* border-bottom: solid 0.5px var(--border-color-gray); */
}
.modalContent .bidingPrice {
	width: 175px;
	border-right: solid 0.5px var(--border-color-gray);
}
.modalContent .bidingDate {
	width: 200px;
	border-right: solid 0.5px var(--border-color-gray);
}
.modalContent .bidingMethod {
	width: 165px;
	border-right: solid 0.5px var(--border-color-gray);
}
.modalContent .bidingNote {
	width: 100px;
}


/* 닫기 버튼 */
.closeBtn {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	margin-right: 10px;
}

.closeBtn:hover,
.closeBtn:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* 상세보기 모달 팝업 */


/* 모달 팝업 보일 시배경을 어둡게 만드는 스타일 */
.modalBackground {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999; /* 모달 뒤에 배경이 있어야 함 */
	display: none; /* 처음에는 표시되지 않도록 설정 */
}